<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common_libraries")
</head>
<body>
    <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

        <div class="conjtainer">
            <!-- Menu button for smallar screens -->
            <div class="navbar-header">
                <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span>Menu</span>
                </button>
                <!-- Site name for smallar screens -->
                <a href="~/Home/Dashboard" class="navbar-brand hidden-lg">Kiosk Application</a>
            </div>



            <!-- Navigation starts -->
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">

                    <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->
                    <li class="dropdown dropdown-big">
                        <a href="~/Home/Dashboard">
                            <span>
                                <i class="fa fa-home fa-2x"></i>
                            </span>
                            <span style="font-family:times, Times New Roman, times-roman, georgia, serif;font-size:24px;font-weight:bold;color:#0993d3">KIOSK APPLICATION</span>
                        </a>
                    </li>
                </ul>
                <!-- Links -->
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-user" id="user"></i>  <b class="caret"></b>
                        </a>

                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu">
                            <li><a href="~/Password/ChangePassword"><i class="fa fa-user"></i>Change Password</a></li>
                            <li><a style="cursor:pointer;" onclick="logout();"><i class=" fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

        </div>
    </div>
    <div style="height:25px">

    </div>
    <!-- Header ends -->
    <div class="content">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
            <ul id="nav">
                <!-- Main menu with font awesome icon -->
                <li>
                    <a href="~/Home/Dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
                </li>
                <li class="has_sub">
                    <a href="#"><i class="fa fa-wrench"></i> Functions  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <ul>
                        <li><a href="~/Function/AddFunction" id="/Function/AddFunction" name="links"><i class="fa fa-plus-square"></i> Add Function</a></li>
                        <li><a href="~/Function/ViewFunction" id="/Function/ViewFunction" name="links"><i class="fa fa-folder"></i> View Functions</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#"><i class="fa fa-check"></i> Roles  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <ul>
                        <li><a href="~/Role/AddRole" id="/Role/AddRole" name="links"><i class="fa fa-plus-square"></i> Add Role</a></li>
                        <li><a href="~/Role/ViewRole" id="/Role/ViewRole" name="links"><i class="fa fa-folder"></i> View Roles</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#"><i class="fa fa-bank"></i> Branches  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <ul>
                        <li><a href="~/Branch/AddBranch" id="/Branch/AddBranch" name="links"><i class="fa fa-plus-square"></i> Add Branch</a></li>
                        <li><a href="~/Branch/ViewBranch" id="/Branch/ViewBranch" name="links"><i class="fa fa-folder"></i> View Branches</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#"><i class="fa fa-user"></i> Users  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <ul>
                        <li><a href="~/User/AddUser" id="/User/AddUser" name="links"><i class="fa fa-plus-square"></i> Add User</a></li>
                        <li><a href="~/User/ViewUser" id="/User/ViewUser" name="links"><i class="fa fa-folder"></i> View Users</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="#"><i class="fa fa-users"></i> Customers  <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
                    <ul>
                        <li><a href="~/Customer/AddCustomer" id="/Customer/AddCustomer" name="links"><i class="fa fa-plus-square"></i> Register Customer</a></li>
                        <li><a href="~/Customer/ViewCustomer" id="/Customer/ViewCustomer" name="links"><i class="fa fa-folder"></i> View Customers</a></li>
                    </ul>
                </li>
                <li><a href="~/Password/ChangePassword"><i class="fa fa-pencil-square-o"></i> Change Password</a></li>
                <li>
                    @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)
                </li>
            </ul>
        </div>
        <!-- Sidebar ends -->
        <!-- Main bar -->
        <div class="mainbar">
            @RenderBody()
            <!-- Mainbar ends -->
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- Content ends -->
    <!-- Footer starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright info -->
                    <p class="copy">Copyright &copy; @DateTime.Now.Year | <a href="#">Pajuno Development Company</a> </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
    @RenderSection("scripts", required: false)

</body>
</html>
